<a href="https://colab.research.google.com/github/DataScienceWithArunesh/PySpark_Tutorial/blob/main/Pyspark_tutorial_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pyspark Dataframe Basics
1. importing pyspark
2. start spark session
3. connect to drive
4. read the dataset
5. Check the datatype of the dataframe
6. check the summary

In [ ]:
# importing
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=bd649c9e212233ca4a913eb1367d70443a2e81342d5c06da97d0d3b2bd9fc0fc
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
import pyspark

In [ ]:
# start spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_tutorial_part2").getOrCreate()

In [ ]:
# read the dataset
df = spark.read.csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.show()

+------------+---+-----+
|         _c0|_c1|  _c2|
+------------+---+-----+
|Student_name|Age|Grade|
|     Avinash| 22|   80|
|     Chandan| 18|   90|
|       Richa| 20|   85|
+------------+---+-----+

In [ ]:
df = spark.read.option("header", True).csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.show()

+------------+---+-----+
|Student_name|Age|Grade|
+------------+---+-----+
|     Avinash| 22|   80|
|     Chandan| 18|   90|
|       Richa| 20|   85|
+------------+---+-----+

In [ ]:
# check the dtaatype
df.printSchema()

root
 |-- Student_name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Grade: string (nullable = true)

In [ ]:
df = spark.read.option("header", True).option("inferschema", True).csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.printSchema()

root
 |-- Student_name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Grade: integer (nullable = true)

In [ ]:
# check the sumary
df.describe().show()

+-------+------------+----+-----+
|summary|Student_name| Age|Grade|
+-------+------------+----+-----+
|  count|           3|   3|    3|
|   mean|        null|20.0| 85.0|
| stddev|        null| 2.0|  5.0|
|    min|     Avinash|  18|   80|
|    max|       Richa|  22|   90|
+-------+------------+----+-----+

In [ ]:
df.summary().show()

+-------+------------+----+-----+
|summary|Student_name| Age|Grade|
+-------+------------+----+-----+
|  count|           3|   3|    3|
|   mean|        null|20.0| 85.0|
| stddev|        null| 2.0|  5.0|
|    min|     Avinash|  18|   80|
|    25%|        null|  18|   80|
|    50%|        null|  20|   85|
|    75%|        null|  22|   90|
|    max|       Richa|  22|   90|
+-------+------------+----+-----+